{% load static %}
{% block body %}
{% include 'navigation.html' %}
<marquee style="font-family:'Monotype-Corsiva'; font-size:25px; color:white; background-color:purple; font-weight:bold; margin-top:1%">
    Forget Password
</marquee>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <h4>Forget Password</h4>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        {{message}}
    </div>
    {% endfor%}
    {% endif %}
    <label><b>Email ID</b></label>
    <input type="email" class="form-control" name="email" placeholder="Enter Email ID">

    <input type="submit" value="Submit" class="btn btn-primary" style="margin-top:2% ; color:white; background-color:black; ">


</form>

{% endblock %}